body {
    /* your styles here */
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  h1, #designed-by {
    /* your styles here */
    text-align: center;
  }
  
  .style1 {
    background-color: #ED254E;
  }
  
  .style2 {
    background-color: #F9DC5C;
  }
  
  .style3 {
    background-color: green;
  }
  
  .style4 {
    background-color: #9B9A9A;
  }
  
  .style5 {
    background-color: #011936;
  }
  
  .style6 {
    background-color: #465362;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }